 /* pseudo element */
.services-item {
    display: flex;
    align-items: center;
  }
  
  .services-item::before {
    content: '';
    background-image: url(../img/travel_transportation_automobile_auto_corvette_car_icon_258666.svg);
    display: block;
    width: 140px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
  }
  
  .services-item::after {
    content: '';
    background-image: url(../img/travel_transportation_automobile_auto_corvette_car_icon_258666.svg);
    display: block;
    width: 140px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30px;
  }
  
  .services-item:hover::before {
    background-color: gold;
    cursor: pointer;
  }
  
  .services-item:hover::after {
    background-color: blue;
    cursor: pointer;
  }
  
  
  /* коли наводимо курсор машинка з'являється,а так її нема  */
  
   .services-item:hover::before {
    cursor: pointer;
    display: block;
  }
  
  .services-item::before {
    content: '';
    background-image: url(../img/travel_transportation_automobile_auto_corvette_car_icon_258666.svg);
    display: block;
    width: 140px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
    display: none;
  }
  
  /* first-letter */
   p::first-letter {
    font-size: 100px;
    color: rgb(113, 113, 255);
    font-family: "Roboto", sans-serif;
  }
  
  ::selection {
    background-color: rgb(113, 113, 255);
    color: black;
  }
  
  .tex::first-line  {
    font-size: 70px;
    color: rgb(113, 113, 255);
  } 
 




  .services-item::before {
    content: '';
    background-image: url(../img/travel_transportation_automobile_auto_corvette_car_icon_258666.svg);
    display: block;
    width: 140px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
  }